<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Join Us</h1>
    <form action="/api/profile" method="post">
    	<input type="text" name="email" placeholder="Email" /><br />
    	<input type="text" name="username" placeholder="username" /><br />
    	<input type="password" name="email" placeholder="password" /><br />
    	<input type="Submit" value="Submit" placeholder="password" /><br />
    </form>
  </body>
</html>
